<!DOCTYPE html>
<html>
	<head>
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="style.css">
		<link
			type='text/css'
			rel='stylesheet'
			href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic'
		>
	</head>

	<body>
		<div
			id="my-first-project"
			style="background:white;"
		/>
	</body>
</html>
